doctype html
html
	head
		title #{title} | A post by #{_user}
		link(rel='stylesheet', href='../../css/gumby.css')
		script.
			function handle(){ 
			var title = document.getElementById("title").value; 
			var content = document.getElementById("content").value; 
			location.href = "http://localhost:3000/#{docNumber}" + "?title=" + title + "&content=" + content;}
	body
		div.metro
			div.container 
				block content